{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block content %}
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">

    <div class="col-md-6 col-sm-6">
        <h3>Login</h3>
        <form role="form" action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <label for="username-login">Username</label>
                <input type="text" id="username-login" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input type="password" id="password-login" name="password" class="form-control">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="padding-top-20">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>

        </form>
    </div>
    </div>
</div>
<!-- END WRAPPER -->
{% endblock %}










