<div class="pi-img-wrapper">
    <img src="../../public/pictures/{{ product.photo }}" class="img-responsive">
    <div>
        <a href="{{ url('product-action',{'id':product.id}) }}" class="btn btn-default fancybox-fast-view">View</a>
    </div>
</div>
<h3><a href="{{ url('product-action',{'id':product.id}) }}">{{ product }}</a></h3>
<div class="pi-price">{{ product.price }} RON</div>
