{% extends 'base.html.twig' %}
{%  block content %}
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ url('homepage')}}">Home<i class="fa fa-angle-right"></i></a></li>
                <li class="active">Cart</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">

                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-4">
                    <ul class="list-group margin-bottom-25 sidebar-menu">
                        {% for category in categories %}
                            <li class="list-group-item clearfix">
                                <a href="{{ url('category-action',{'id':category.id}) }}"><i class="fa fa-angle-right"></i> {{ category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- END SIDEBAR -->

                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>My cart</h1>
                    <div class="goods-page">
                        <div class="goods-data clearfix">
                            <div class="table-wrapper-responsive">
                                <table summary="My cart">
                                    {% if (shoppingCart.total>0) %}
                                    <tr>
                                        <th class="goods-page-image">Image</th>
                                        <th class="goods-page-description">Description</th>
                                        <th class="goods-page-quantity">Quantity</th>
                                        <th class="goods-page-price">Unit price</th>
                                        <th class="goods-page-total" colspan="2">Total</th>
                                    </tr>
                                    {% for cartItem in showMyCart.cartItems %}
                                    <tr>
                                        <td class="goods-page-image">
                                            <a href="{{ url('product-action',{'id':cartItem.product.id}) }}"><img src="../../public/pictures/{{ cartItem.product.photo }}"></a>
                                        </td>
                                        <td class="goods-page-description">
                                            <h3><a href="{{ url('product-action',{'id':cartItem.product.id}) }}">{{ cartItem.product.name }}</a></h3>
                                            <em>{#short description of product#}</em>
                                        </td>
                                        <td class="goods-page-quantity">
                                            <form method="get" action="{{ url('updateCart', {'id':cartItem.id}) }}" >
                                            <div class="product-quantity">
                                                <input id="product-quantity2" title="quantity" type="text" value="{{ cartItem.quantity }}" name="q" readonly class="form-control input-sm">
                                            </div>
                                                <div><button class="btn btn-update" type="submit">Update</button></div>
                                            </form>
                                        </td>
                                        <td class="goods-page-price">
                                            <strong>{{ cartItem.product.price }}<span>  RON</span></strong>
                                        </td>
                                        <td class="goods-page-total">
                                            <strong>{{ cartItem.product.price*cartItem.quantity}}<span>  RON</span></strong>
                                        </td>
                                        <td class="del-goods-col">
                                            <a class="del-goods" href="{{ url('updateCart',{'id':cartItem.id, 'q':0}) }}">&nbsp;</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>

                            <div class="shopping-total">
                                <ul>
                                    <li>
                                        <em>Sub total</em>
                                        <strong class="price">{{ shoppingCart.total }}<span>  RON</span></strong>
                                    </li>
                                    <li>
                                        <em>Shipping cost</em>
                                        <strong class="price">25<span>  RON</span></strong>
                                    </li>
                                    <li class="shopping-total-price">
                                        <em>Total</em>
                                        <strong class="price">{{ shoppingCart.total+25 }}<span>  RON</span></strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="row"><button class="btn btn-secondary" type="submit"><a href="{{ url('clearCart')}}">Clear cart</a></button></div>

                        </div>

                        <div class="row">
                            <div class="col-4"><button class="btn btn-default" type="submit"><a href="{{ url('homepage')}}">Continue shopping</a></button></div>
                            <div class="col-4"></div>
                            <div class="col-4"><button class="btn btn-default" type="submit"><a href="{{ url('checkoutCart') }}"> Checkout <i class="fa fa-check"></i></a></button></div>
                        </div>
                        {% else %}
                        <h4> Your shopping cart is empty!</h4>
                            <button class="btn btn-default" type="submit"><a href="{{ url('homepage')}}">Continue shopping</a></button>
                        {% endif %}
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->


        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/plugins/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('assets/plugins/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/corporate/scripts/back-to-top.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{{ asset('assets/plugins/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript"></script><!-- pop up -->
    <script src="{{ asset('assets/plugins/owl.carousel/owl.carousel.min.js') }}" type="text/javascript"></script><!-- slider for products -->
    <script src='{{ asset('assets/plugins/zoom/jquery.zoom.min.js') }}' type="text/javascript"></script><!-- product zoom -->
    <script src="{{ asset('assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}" type="text/javascript"></script><!-- Quantity -->
    <script src="{{ asset('assets/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/rateit/src/jquery.rateit.js') }}" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script><!-- for slider-range -->

    <script src="{{ asset('assets/corporate/scripts/layout.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}
