{% extends 'base.html.twig' %}
{%  block content %}
    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- First slide -->
                <div class="item carousel-item-four active">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                                Unlimited
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                                Offers For
                            </p>
                            <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                                IT Passionates
                            </p>
                            <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                        </div>
                    </div>
                </div>

                <!-- Second slide -->
                <div class="item carousel-item-five">
                    <div class="container">

                        <div class="carousel-position-four text-center">
                            <h2 class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                                Free To  <br/><span class="color-red-v2">Choose What</span><br/>YOU Like
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">Lorem ipsum dolor sit amet constectetuer diam <br/>
                                adipiscing elit euismod ut laoreet dolore.</p>
                        </div>
                    </div>
                </div>

                <!-- Third slide -->
                <div class="item carousel-item-six">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                                Proffesional
                            </span>
                            <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                               IT
                            </p>
                            <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                               Solutions
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Fourth slide -->
                <div class="item carousel-item-seven">
                    <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body">
                                <h2 class="carousel-title-v1 margin-bottom-20" data-animation="animated fadeInDown">
                                    The Most <br/>
                                    Wanted Equipments
                                </h2>
                                <a class="carousel-btn" href="#" data-animation="animated fadeInUp">View Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- END SLIDER -->

    <div class="main">
        <div class="container">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                    <h2>Sales</h2>
                    <div class="owl-carousel owl-carousel5">
                        {% for product in newArrivals %}
                        <div>
                            <div class="product-item">
                                {% include 'default/_productItem.html.twig' with {'product': product} %}
                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- END SALE PRODUCT -->
            </div>
            <!-- END SALE PRODUCT & NEW ARRIVALS -->

            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40 ">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-4">
                    <ul class="list-group margin-bottom-35 ">
                        <li class="list-group-item clearfix"><h4><a href="{{ url('showCart') }}">My Cart </a></h4>
                           <h4>Total: {{ shoppingCart.total }} RON</h4>
                       </li>


                    </ul>
                    <ul class="list-group margin-bottom-25 sidebar-menu">
                        {% for category in categories %}
                            <li class="list-group-item clearfix">
                                <a href="{{ url('category-action',{'id':category.id}) }}"><i class="fa fa-angle-right"></i> {{ category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-8">
                    <h2>ALL PRODUCTS</h2>
                    <div class="owl-carousel owl-carousel3">
                        {% for product in threeItems %}
                        <div>
                            <div class="product-item">
                               {% include 'default/_productItem.html.twig' with {'product': product} %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->

            <!-- BEGIN NEW ARR -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                    <h2>New Arrivals</h2>
                    <div class="owl-carousel owl-carousel5">
                        {% for product in products %}
                            <div>
                                <div class="product-item">
                                    {% include 'default/_productItem.html.twig' with {'product': product} %}
                                    <div class="sticker sticker-new"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END SALE PRODUCT -->
            </div>
            <!-- END NEW ARR -->
        </div>
    </div>

{% endblock %}
