{% extends 'base.html.twig' %}
{%  block content %}
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ url('homepage')}}">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="active">{{ mainCategory.name }} Category</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
                <ul class="list-group margin-bottom-35 ">
                    <li class="list-group-item clearfix"><h4><a href="{{ url('showCart') }}">My Cart </a></h4>
                        <h4>Total: {{ shoppingCart.total }} RON</h4>
                    </li>
                </ul>
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    {% for category in categories %}
                        <li class="list-group-item clearfix">
                            <a href="{{ url('category-action',{'id':category.id}) }}"><i class="fa fa-angle-right"></i> {{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
                <div><h1>{{ mainCategory.name }} </h1></div>
                <!-- BEGIN PRODUCT LIST -->
                <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    {% for product in mainCategory.products %}
                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="product-item">
                            <div class="pi-img-wrapper">
                                <img src="../../pictures/{{ product.photo }}" class="img-responsive" alt="{{ product.name }}">
                                <div>
                                    <a href="{{ url('product-action', {'id': product.getId()}) }}" class="btn btn-default fancybox-fast-view">View</a>
                                </div>
                            </div>
                            <h3><a href="{{ url('product-action', {'id': product.getId()}) }}">{{ product.name }}</a></h3>
                            <div class="pi-price">{{ product.price}}</div>

                        </div>

                    </div>
                    {% endfor %}
                    <!-- PRODUCT ITEM END -->
                </div>
                <!-- END PRODUCT LIST -->

            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>


{% endblock %}